.container.text-center
  %h1 Blackjack!
  %hr
  %h4.welcome= "Welcome #{session[:username]}"

-if @play_again
  .well.text-center
    %p
      %b Play again?
      %br
      %a.btn.btn-success{href: '/game'} Yes
      %a.btn.btn-danger{href: '/game_over'} No

.well
  %h4 Dealer's cards:
  -session[:dealer_cards].each_with_index do |card, idx|
    -if session[:turn] != "dealer" && idx == 0
      %img{src: 'images/cards/cover.jpg'}
    -else
      =card_image(card)

  -if @show_dealer_hit_button
    %p
      %h5
        =surround "Dealer has ", ", and will hit" do
          =total(session[:dealer_cards])
      %form{action: '/game/dealer/hit', method: 'post'}
        %button.btn.btn-primary{type: 'submit'}
          Click for Dealer's next card
          %i.icon-arrow-right.icon-white
%br

.well
  %h4= "#{session[:username]}'s cards:"
  %p
    -session[:player_cards].each do |card|
      =card_image(card)
    %h5
      =precede "#{session[:username]}'s total is: " do
        =total(session[:player_cards])

-if @show_hit_or_stay_buttons
  %form#hit{action: "/hit", method: "post"}
    %input.btn.btn-success{type: 'submit', value: "Hit"}

  %form#stay{action: "/stay", method: "post"}
    %input.btn.btn-warning{type: 'submit', value: "Stay"}
